@media all and (max-width: 1097px){
    #wrap {
        #header {
            h1.logo {
                left: 0;
                margin-left: 0;
            }
        }
        // #main {
        //     #section1 {
        //         &::after {
        //             width: 840px;
        //             padding-left: 0;
        //         }
        //     }
        // }
    }
}

@media all and (max-width:1080px) {
    html { font-size: 62.5%;}
    body {
        font-weight: 400;
        line-height: 1;
        letter-spacing: -.08rem;
        color:#333;
    }
    #wrap { display: none;}
    #wrapM { display: block;}
}